/build
/.metadata/
/out
/bin
/.gradle
/.settings
/logs
jsonData/**
src/main/generated-sources
src/main/web/public/tests/node_modules
.idea/**

*.iml
*.launch
atlassian*
.classpath
*.ipr
*.iws
.project
db.changelog-1.x.x.xml
smart-ops-board-app/vf.gf.dmn-events.txt
smart-ops-board-app/vf.gf.dmn-license.cfg
smart-ops-board-cache/.springBeans
/Servers/
smart-ops-board-app/target/cucumber/report.js
*.springBeans
